#Puntos de guardado de emacs
*~

#Librerias linkadas
*.o

#Bin files
*.exe *.out

#Netbeans project
nbproject/*

#Sublime project
*.sublime-project
*.sublime-workspace

#VisualStudio project
.vscode/*

#Mierda de latex
*.log
*.aux
*.gz
*.out